*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'montserrat';
    
}

body{
    width: 100%;
    background-color: #f1f1f1;
}

a{
    background-color: white;
    padding: 15px 30px;
    color: black;
    border-radius: 4px;
    text-transform: uppercase;
}

#logo{
    text-align: center;
    margin-top: 40px;
    font-size: 1.8rem;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

a{
    border: 2px solid transparent;
}

a:hover{
    border: 2px solid red;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    place-content: center;
    padding: 40px;
    margin: 0 auto;
}

#img-bicicleta{
    width: 500px;
}

#grid{
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    padding: 50px;
    background-color: white;
}


.vantagens{
    display: grid;
    text-align: right;
    padding: 20px;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    color: gray;
}

.conteudo-lista{
    font-size: 1.3rem;
    list-style: none;
    align-content: center;
    display: grid;
    padding: 40px;
    text-align: center;
    line-height: 1.8;
    background-color: white;
}

#conteudo-baixo{
    display: grid;
    align-items: center;
}

#button{
    background-color: red;
    border: none;
    padding: 1rem 1.9rem;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
}

#button:hover{
    background-color: rgb(177, 2, 2);
}

li::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    margin-right: 15px;
    vertical-align: center;
}

li:hover{
    border-left: 4px solid red;
}

li:nth-child(odd){
    background-color: rgb(204, 202, 202);
}

@media (max-width: 950px){
    main{
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px;

}

    #grid span, h3{
        text-align: center;
    }

    #img-bicicleta{
        width: 100%;
    }

    #grid{
        font-size: 2.5rem;
        gap: 30px;
    }

    #button{
        padding: 2rem 6rem;
    }
}

@media (max-width: 680px){
    header{
        display: grid;
        text-align: center;
    }

    #grid h3{
        text-align: center;
    }

    main{
        margin-top: 250px;
    }

    a{
        padding: 1rem 5rem;
    }
}

@media (max-width: 894px){
    .vantagens{
        text-align: center;
    }
}